Client/Service References/ServiceReference1/SemanticAnalysisService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vaio/SemanticAnalysis/SemanticAnalysisService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TextAnalysisResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcademicNausea" type="xs:double" />
      <xs:element minOccurs="0" name="CharacterCount" type="xs:int" />
      <xs:element minOccurs="0" name="ClassicNausea" type="xs:double" />
      <xs:element minOccurs="0" name="SemanticCore" nillable="true" type="tns:ArrayOfUniqueWord" />
      <xs:element minOccurs="0" name="StopWords" nillable="true" type="tns:ArrayOfUniqueWord" />
      <xs:element minOccurs="0" name="UniqueWords" nillable="true" type="tns:ArrayOfUniqueWord" />
      <xs:element minOccurs="0" name="Water" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Words" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextAnalysisResult" nillable="true" type="tns:TextAnalysisResult" />
  <xs:complexType name="ArrayOfUniqueWord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UniqueWord" nillable="true" type="tns:UniqueWord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUniqueWord" nillable="true" type="tns:ArrayOfUniqueWord" />
  <xs:complexType name="UniqueWord">
    <xs:sequence>
      <xs:element name="Count" type="xs:int" />
      <xs:element name="Frequency" type="xs:float" />
      <xs:element name="Word" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UniqueWord" nillable="true" type="tns:UniqueWord" />
</xs:schema>